* {
  margin: 0;
  color: white;
}

body {
  font-family: 'Libre Bodoni', serif;
  background: url(/img/1234.gif) no-repeat;
  background-size: cover;
  font-size: 16px;
  
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  border-radius: 32px;
  box-shadow: 15px 10px 0px 5px rgba(221, 4, 4, 0);
}


button {
  text-align: center;
  cursor: pointer;
  margin: 5px;
  padding: 15px 25px;
  border-radius: 22px;
  font-size: 1.5em;
  border: none;
  background-color: rgba(8, 158, 184, 0);
  box-shadow: 5px 5px 101px -3px black, -5px -5px 15px 3px red;
}

.button:hover {
  background-color: white;
}

button:active {
  transform: translateY(2px);
  background-color: black;
  color: white;
}

.largoborrador {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 10px 10px;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(184, 32, 32, 0);
  border-radius: 12px;
  text-align: right;
  justify-content: space-between;
  box-shadow: 5px 5px 101px -3px black, -5px -5px 15px 3px red;
}

#valor-actual {
  font-size: 1.5em;
}

#valor-anterior {
  font-size: 2em;
}